#################
## Misc
#################
nbproject
manifest.mf
build.xml

#################
## Project
#################

node_modules/*
npm-debug.log
*.ts
!*.d.ts
tests
coverage
config
karma.conf.js
webpack.config.js
tsconfig.json
tslint.json
!*.metadata.json
!bundles/*.js
.*

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

############
## Mac
############

# Mac crap
.DS_Store

############
## Demos
############

demo/*
