<mat-toolbar color="primary" class="mat-elevation-z2">
  <mat-toolbar-row>
    {{ 'NAMED_ROUTES' | translate }}

    <span class="app-toolbar-filler"></span>
    <button [routerLink]="['/home'] | localize" [routerLinkActive]="['mat-accent']" mat-button>{{ 'HOME' | translate }}</button>
    <button mat-button [routerLinkActive]="['mat-accent']"
            [routerLink]="['/members', { outlets: { list: ['membersList'], bio: ['none'] } }] | localize">
      {{ 'MEMBERS' | translate }}
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span>{{ 'CHANGE_LANG' | translate }}</span>
    <button type="button" (click)="changeLanguage('de')" mat-raised-button color="accent" >DE</button>
    <button type="button" (click)="changeLanguage('en')" mat-raised-button color="accent" >EN</button>
    <span class="app-toolbar-filler"></span>
        <a [routerLink]="'/en'" mat-raised-button color="primary" [routerLinkActive]="['mat-accent']">EN</a>
        <a [routerLink]="'/de'" mat-raised-button color="primary" [routerLinkActive]="['mat-accent']">DE</a>
  </mat-toolbar-row>
</mat-toolbar>

<div class="app-content">
  <router-outlet></router-outlet>
</div>

