:host {
  display: block;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background-color: #106cc8;
  border-bottom: 2px solid #1059b1;
  color: rgba(255, 255, 255, 0.87);
  padding: 16px;
  letter-spacing: 0.1px;
  margin: 0;
  display: block;
}
h1 {
  font-size: 20px;
  font-weight: normal;
  display: inline;
}
.button-bar {
  float: right;
}
header a, header button {
  float: right;
  margin: 0 8px;
}
header a.router-link-active {
  color: White;
}
nav {
  padding: 8px;
  background-color: #d7d8d5;
  border-bottom: 2px solid #c0c1be;
}
nav a + a {
  margin-left: 8px;
}
