<header>
  <h1>{{ 'APP_TITLE' | translate }}</h1>

  <span class="button-bar">
    <a [routerLink]="'/en'" [routerLinkActive]="['router-link-active']">EN</a>
    <a [routerLink]="'/de'" [routerLinkActive]="['router-link-active']">DE</a>
    <button type="button" (click)="changeLanguage('en')">translate to EN</button>
    <button type="button" (click)="changeLanguage('de')">translate to DE</button>
  </span>
</header>
<nav>
  <a [routerLink]="'/home' | localize" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">
    {{'HOME' | translate}}
  </a>
  <a [routerLink]="'/about' | localize" [routerLinkActive]="['router-link-active']">
    {{'ABOUT' | translate}}
  </a>
  <a [routerLink]="'/users' | localize" [routerLinkActive]="['router-link-active']">
    {{'USERS' | translate}}
  </a>
</nav>
<router-outlet></router-outlet>
