a, a:-webkit-any-link, a:visited, a:active, a:-webkit-any-link:visited, a:-webkit-any-link:active {
  color: dodgerblue;
}
nav {
  padding: 8px;
  background-color: #d7d8d5;
  border-bottom: 2px solid #c0c1be;
}
nav a.router-link-active {
  background: white;
  color: dodgerblue;
}
nav a {
  padding: 3px;
}
nav a + a {
  margin-left: 8px;
}
